<header class="h">
	<img src="" alt="" class="avatar">
	<h1>JS BLOG BR</h1>
	<p>Por MARCUS ORTENSE</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta recusandae impedit aliquid voluptate quaerat.</p>
	<nav class="n">
		<ul class="m">
			<li class="m-item">
				<a href="" class="m-link">Sobre</a>
			</li>
			<li class="m-item">
				<a href="" class="m-link">RSS</a>
			</li>
		</ul>
		<ul class="s">
			<li class="s-item">
				<a href="" class="s-link twitter">Twitter</a>
			</li>
			<li class="s-item">
				<a href="" class="s-link linkedin">LinkedIn</a>
			</li>
			<li class="s-item">
				<a href="" class="s-link github">GitHub</a>
			</li>
		</ul>
	</nav>
</header>

