<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<title>javascript.blog.br</title>
	<link rel="stylesheet" href="styles/global.css">
	<meta name="robots" content="noindex, nofollow">
</head>
<body>
	{{> header }}
	<h1>posts</h1>
	{{#each data}}
	<div class="post">
		<h2><a href="posts/{{slug}}.html">{{title}}</a></h2>
		<p>por: {{author}}</p>
	</div>
	{{/each}}
</body>
</html>