<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<title>{{title}} - javascript.blog.br</title>
	<link rel="stylesheet" href="css/global.css">
	<meta name="robots" content="noindex, nofollow">
</head>
<body>
	<h1>{{title}}</h1>
	<p>{{author}}</p>
	
	{{{body}}}
</body>
</html>